@use "../../../../styles/base/index" as *;
@use "../../../../styles/utils/index" as *;

p {
  margin-top: $space-lv-1-desktop;
  margin-bottom: $space-lv-1-desktop;
  @include mq-small {
    margin-top: $space-lv-1-mobile;
    margin-bottom: $space-lv-1-mobile;
  }
}

.preview-container {
  border: 3px solid $warm-black-30;
  border-radius: 40px;
  min-height: 663px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  padding: $space-lv-1-desktop;
  @include mq-small {
    padding: $space-lv-1-mobile;
  }
}

.clear-btn-container {
  display: flex;
  justify-content: space-between;
  padding: $space-lv-1-desktop;
  @include mq-small {
    padding: $space-lv-1-mobile;
    flex-direction: column;
  }
}

.file-size-container {
  display: flex;
  align-items: flex-end;
  @include mq-small {
    margin-bottom: $space-lv-1-mobile;
  }
}

.file-size-text {
  font-family: $font-family;
  font-size: calc($font-size-large * $font-base-desktop);
  @include mq-small {
    font-size: calc($font-size-large * $font-base-mobile);
  }
  color: $gold-yellow-90;
}

.clear-btn {
  outline: none;
  display: inline-block;
  padding: $font-base-desktop calc($font-base-desktop * 2);
  font-size: calc($font-size-large * $font-base-desktop);
  @include mq-small {
    padding: $font-base-mobile calc($font-base-mobile * 2);
    font-size: calc($font-size-large * $font-base-mobile);
  }
  // * Hotfix: center the text vertically
  line-height: 0.8;
  color: $superman-red-60;
  border: 2px solid $superman-red-60;
  border-radius: 15px;
  background-color: #ffffff;

  &:hover {
    color: #ffffff;
    background-color: $superman-red-60;
  }

  &:active {
    color: #ffffff;
    background-color: $superman-red-80;
    border: 2px solid $superman-red-80;
  }
}
