@use "../../../../../styles/base/index" as *;
@use "../../../../../styles/utils/index" as *;

.radio-option-custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  cursor: pointer;
}

.first-text,
.second-text {
  font-size: $font-base-desktop;
}

.radio-option-custom-radio {
  visibility: hidden;

  + .first-text::before {
      content: url("../../../../../../public/assets/images/radio-unchecked.svg");
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      width: 25px;
      height: 25px;
      font-size: 25px;
      margin-right: $space-lv-1-desktop;
      position: relative;
      top: $space-quarter-desktop;

      @include mq-small {
          margin-right: $space-lv-1-mobile;
          top: $space-half-mobile;
      }
  }

  &:checked + .first-text::before {
      content: url("../../../../../../public/assets/images/radio-checked.svg");
      animation: checkpop 230ms ease-in;
  }

  &:disabled + .first-text {
      color: $warm-black-50;

      &::before {
        content: url("../../../../../../public/assets/images/radio-unchecked.svg");
      }
  }
}

.radio-option-custom-input {
  width: 80px;
  border: 4px solid $warm-black-30;
  border-radius: 6px;
  padding: 6px 6px;
  margin-left: $space-half-desktop;
  margin-right: $space-half-desktop;
  margin-top: $space-quarter-desktop;

  @include mq-small {
    margin-left: $space-half-mobile;
    margin-right: $space-half-mobile;
    margin-top: $space-half-mobile;
  }

  &:focus {
    border: 4px solid $steel-blue-60;
    outline: none;
  }
}
