@use "../../../../styles/base/index" as *;
@use "../../../../styles/utils/index" as *;

.squash-container {
  margin-bottom: $space-lv-1-desktop;

  @include mq-small {
    margin-bottom: $space-lv-1-desktop;
  }

  .info-content {
    ul {
      margin-left: $space-lv-1-desktop;

      @include mq-small {
        margin-left: $space-lv-1-mobile;
      }

      li {
        color: $warm-black-40;
        font-size: $font-base-desktop;
        line-height: $line-height-body;
        margin-bottom: $space-half-desktop;

        @include mq-small {
          font-size: $font-base-mobile;
          margin-bottom: $space-half-mobile;
        }
      }
    }
  }
}

.squash-option-wrapper {
  padding: $space-half-desktop 0;

  @include mq-small {
    padding: $space-half-mobile 0;
  }
}