/* Mixins */

@use "../base";

// ===============
// # MEDIA QUERIES
// ===============
// * Note, Content determine breakpoints

// # DESKTOP

// $XXXLARGE: n/a
// $XXLARGE: 1280px;
// $XLARGE: 1024px;

// # TABLET

$MEDIUM: 768px;
// $MEDIUM-LANDSCAPE: n/a

// # MOBILE

$SMALL: 576px;
// $XXSMALL: n/a
// $XSMALL: n/a

// # MAX AND MIN WIDTH
$MAX-WIDTH: 992px;
// $MIN-WIDTH: 375px;

// @mixin mq-xx-small() {}
// @mixin mq-x-small() {}
// @mixin mq-x-small() {}

@mixin mq-small(){
  @media all and (max-width: $SMALL){
      @content;
  }
}

@mixin mq-medium() {
  @media all and (max-width: $MEDIUM){
      @content;
  }
}

@mixin mq-large() {
  @media all and (min-width: $MAX-WIDTH){
      @content;
  }
}

// @mixin mq-xx-large() {}
// @mixin mq-xxx-large() {}

//  # landscape
// @mixin mq-medium-landscape() {
//   @media all and (max-width: $MEDIUM-LANDSCAPE){
//       @content;
//   }
// }