@use "../base";
@use "../utils";

// =============
// FORM: CONTACT
// =============

#contact {
    margin: 0 auto;
    max-width: utils.$MAX-WIDTH;
    padding-top: base.$desktop-space-lv-2;
    margin-bottom: base.$desktop-space-lv-2;
    color: base.$text-color-70;
    @include base.tablet-padding-preset;
    @include utils.mq-small {
        padding-top: base.$mobile-space-lv-2;
        @include base.mobile-padding-preset;
    }
}

#contact h2 {
    text-align: center;
    margin-bottom: base.$desktop-space-lv-1;
    @include utils.mq-small {
        margin-bottom: base.$mobile-space-lv-1;
    }
}

.contact-input-wrapper {
    padding-bottom: base.$desktop-space-lv-1;
    @include utils.mq-small {
        margin-bottom: base.$mobile-space-lv-1;
    }
}

#contact p {
    display: block;
    margin: auto 0;
    margin-bottom: base.$desktop-space-lv-1;
    @include utils.mq-small {
        margin-bottom: base.$mobile-space-lv-1;
    }
}

.contact-label {
    display: block;
    margin-bottom: base.$desktop-space-lv-half;
    @include utils.mq-small {
        margin-bottom: base.$mobile-space-lv-half;
    }
}

.contact-input {
    display: block;
    width: 100%;
    padding: 18px;
    border-radius: 18px;
    border: 1px solid base.$text-color-70;
    @include utils.mq-small {
        padding: 14px;
        border-radius: 14px;
    }
}

// STATE ELEMENT
.contact-input:focus,
.contact-input:active {
    border: 1px solid base.$focus-input-color;
    outline: none;
}

.contact-form__wrapper {
    display: flex;
    justify-content: center;
}

.email-link {
    color: base.$link-color;
    text-decoration: underline;
}

// STATE ELEMENT
.email-link:hover {
    text-decoration: none;
}