@use "../base";
@use "../utils";

// ======
// FOOTER
// ======

// # DEFAULT || LGE DEVICES

footer {
    background-color: base.$primary-color-30;
    padding-top: base.$desktop-space-lv-2;
    padding-bottom: base.$desktop-space-lv-2;
    @include base.tablet-padding-preset;
    @include utils.mq-small {
        padding-top: base.$mobile-space-lv-2;
        padding-bottom: base.$mobile-space-lv-2;
        @include base.mobile-padding-preset;
    }
}

.column-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contribute-text {
    position: relative;
    transform: translateY(7px);
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

.contribute-icon-container {
    display: flex;
    align-items: center;
}

.icon__wrapper {
    outline: none;
    display: inline-block;
    border-radius: 50%;
    margin-right: base.$desktop-space-lv-half;
    margin-top: base.$desktop-space-lv-half;
    transition: transform 250ms ease-in-out;
}

.share-icon {
    padding: 10px;
    background-color: base.$primary-color-50;
}

.contribute-icon {
    width: auto;
    height: 42px;
    background-color: base.$primary-color-10;
    transition: text-decoration 250ms ease-in-out, transform 250ms ease-in-out;
}

.icon-github::before,
.icon-facebook::before,
.icon-twitter::before,
.icon-link::before,
.icon-tumblr::before {
    padding: 0;
    margin: 0;
}

.icon-facebook::before,
.icon-twitter::before,
.icon-link::before,
.icon-tumblr::before {
    font-size: 22px;
}

.icon-github::before {
    font-size: 42px;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
    line-height: 0.85 !important;
    color: base.$primary-color-50;
    // * Hotfix: align github icon with background element
    position: relative;
    top: 3px;
}

.icon {
    color: base.$primary-color-10;
}

.icon-github {
    width: 42px;
}

// STATE ELEMENTS
.share-icon:hover {
    transform: scale(1.2);
    background-color: base.$primary-color-40;
}

.contribute-icon-container {
    transition: transform 250ms ease-in-out;
}

.contribute-icon-container:hover .icon-github::before {
    color: base.$primary-color-40;
}

.contribute-icon-container:hover .contribute-icon {
    transform: scale(1.2);
}

.contribute-icon-container:hover .contribute-text {
    text-decoration: underline;
}

.donate-container h3,
.contribute-container h3,
.share-container h3 {
    margin-bottom: base.$desktop-space-lv-1;
    color: base.$primary-color-80;
    @include utils.mq-small {
        margin-bottom: base.$mobile-space-lv-1;
    }
}

footer a {
    color: base.$primary-color-80;
}

.donate-icon-stack {
    margin-right: base.$desktop-space-lv-quarter;
    @include utils.mq-small {
        margin-right: base.$mobile-space-lv-quarter;
    }
}

.contribute-container,
.share-container {
    margin-bottom: base.$desktop-space-lv-2;
    @include utils.mq-small {
        margin-bottom: base.$mobile-space-lv-2;
    }
}

#copy-link {
    display: none;
}

// STATE ELEMENTS
.donate-container,
.contribute-container,
.share-icon-stack {
    transition: transform 250ms ease-in-out;
}

img.donate-image {
    height: 54px;
    width: 192.35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: transform 100ms ease-in-out;
}

// ELEMENT STATE

img.donate-image:hover {
    transform: translateY(-4px);
}

.footer-notes {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.footer-notes a,
.footer-notes p {
    color: base.$primary-color-80;
}

.footer-notes a {
    text-decoration: underline;
}

// ELEMENT STATE

.footer-notes a:hover {
    text-decoration: none;
}

.footer-notes a:active {
    color: base.$primary-color-10;
}
