@use "../base";
@use "../utils";

// ============
// FORM: UPLOAD
// ============


// # DEFAULT || LGE DEVICES

.form-upload {
    max-width: 992px;
    margin: 0 auto;
}

.dropzone-container {
    padding: {
        top: base.$desktop-space-lv-half;
        bottom: base.$desktop-space-lv-half;
    }
    @include utils.mq-small {
        padding: {
            top: base.$mobile-space-lv-half;
            bottom: base.$mobile-space-lv-half;
        }
    }
}

.dropzone {
    height: 27vh;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px dashed base.$text-color-50;
    padding: {
        top: base.$desktop-space-lv-1;
        bottom: base.$desktop-space-lv-1;
    }
    margin-bottom: base.$desktop-space-lv-1;
    cursor: pointer;
    border-radius: 18px;
    @include utils.mq-small {
        padding: {
            top: base.$desktop-space-lv-1;
            bottom: base.$desktop-space-lv-1;
        }
        margin-bottom: base.$desktop-space-lv-1;
    }
}

// * Modifier
.dropzone--over {
    border: 4px solid base.$primary-color-40;
}

.dropzone__upload-icon {
    margin-bottom: base.$desktop-space-lv-half;
    @include utils.mq-small {
        margin-bottom: base.$mobile-space-lv-half;
    }
}

.icon-upload::before {
    font-size: 40px;
}

.dropzone__input {
    visibility: hidden;
}

.dropzone p {
    margin-bottom: base.$desktop-space-lv-half;
    @include utils.mq-small {
        margin-bottom: base.$mobile-space-lv-half;
    }
}

.preview-wrapper {
    padding: {
        top: base.$desktop-space-lv-half;
        bottom: base.$desktop-space-lv-half;
    }
    margin-bottom: base.$desktop-space-lv-1;
    @include utils.mq-small {
        padding: {
            top: base.$mobile-space-lv-half;
            bottom: base.$mobile-space-lv-half;
        }
        margin-bottom: base.$mobile-space-lv-1;
    }
}

.preview-container{
    border: 1px solid base.$text-color-50;
    border-radius: 18px;

}

.preview {
    padding: {
        bottom: base.$desktop-space-lv-1;
        // L/R margins
        left: 32px;
        right: 32px;
    }
    margin-bottom: base.$desktop-space-lv-1;
    display: flex;
    flex-wrap: wrap;
    @include utils.mq-small {
        padding: {
            bottom: base.$mobile-space-lv-1;
            // L/R margins
            left: 16px;
            right: 16px;
        }
        border-radius: 5%;
        margin-bottom: base.$mobile-space-lv-1;
    }
}

// * Used with script
.hidden {
    display: none;
    margin: 0;
    padding: 0;
}

.preview__thumbnail img {
    // display: block;
    // width: 134.1px; // ! Due to change
    // min-height: 214.5px; // ! Due to change
    width: 100%;
    height: auto;
    object-fit: cover;
    // overflow: hidden;
}

// * Larger Size Under "Results"
// 161 w x 257.6 h px

.preview__thumbnail {
    position: relative;
    width: 134.1px; // ! Due to change
    // width: 100%; // ! Due to change
    // height: 214.5px; // ! Due to change
    height: 100%; // ! Due to change
    overflow: hidden;
    @include utils.mq-small {
        margin-top: base.$mobile-space-lv-1;
        margin-right: base.$mobile-space-lv-1;
    }
}

// !
// ? Check is size is similar to webtoon ratio
.preview__thumbnail-container {
    position: relative;
    width: 134.1px; // ! Due to change
    height: 214.5px; // ! Due to change
    margin-top: base.$desktop-space-lv-1;
    margin-right: base.$desktop-space-lv-1;
    cursor: grab;
    // ! WIP
    // overflow: hidden;
    // maintain aspect ratio
    // background-size: cover; // ! Due to change
}

// thumbnail label
// display the text of the attribute
.preview__thumbnail-container::after {
// .preview__thumbnail::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 124.1px; // ! Due to change
    // width: auto; // ! Due to change
    padding: 5px;
    color: #ffffff; // ! Due to change
    background: rgba(0,0,0, 0.75);  // ! Due to change
    font-size: 14px; // ! Due to change
    font-family: base.$secondary-fontface;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

// * used with script
.preview__thumbnail-container.grabbing {
    cursor: grabbing;
}

.preview__clear-btn-container {
    display: flex;
    justify-content: space-between;
    @include base.tablet-padding-preset;
    @include utils.mq-small {
        @include base.mobile-padding-preset;
    }
}

.preview__clear-btn {
    outline: none;
    display: inline-block;
    padding: 18px calc(18px * 2);
    // * Hotfix: center the text vertically
    line-height: 0.8;
    color: base.$secondary-color-60;
    border: 1.5px solid base.$secondary-color-60;
    border-radius: 9999px;
    background-color: #ffffff;
    margin-bottom: base.$desktop-space-lv-1;
    @include utils.mq-small {
        height: 42px;
        border: 1.5px solid base.$secondary-color-60;
        padding: 14px calc(14px * 2);
        margin-bottom: base.$mobile-space-lv-1;
    }
}

// ELEMENT STATE:

.preview__clear-btn:hover {
    color: base.$secondary-color-05;
    background-color: base.$secondary-color-60;
}

.preview__clear-btn:focus {
    color: base.$secondary-color-05;
    background-color: base.$secondary-color-60;
}

.preview__clear-btn:active {
    color: base.$secondary-color-05;
    background-color: base.$secondary-color-40;
}

// Total Bytes Text
.file-size__container {
    display: flex;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: -11px;
    left: 124px;
    background-color: transparent;
    width: 22px;
    height: 22px;
    border: none;
    cursor: pointer;
    transition: 80ms ease-in;
    z-index: 99;
    outline: none;
}

.close-btn:hover {
    transform: scale(1.2);
}

.icon-remove {
    font-size: 22px;
    pointer-events: none;
}
