@use "../base";
@use "../utils";

// =============
// FORM: RESULTS
// =============

// TODO: FEATURE (NEXT UPDATE)
// adjust to webcomic platform ratio for display
// * Used w/ script 'FormResults.js'

// # DEFAULT || LGE DEVICES

#canvas {
    display: none;
}

.product-container {
    padding-bottom: base.$desktop-space-lv-2;
    @include utils.mq-small {
        padding-bottom: base.$mobile-space-lv-2;
    }
}

.product {
    padding: base.$desktop-space-lv-1 32px;
    display: flex;
    flex-wrap: wrap;
    @include utils.mq-small {
        padding: base.$mobile-space-lv-1 32px;
    }
}

.product__image-block {
    width: 178px;
    height: 284.8px;
    margin-right: base.$desktop-space-lv-1;
    margin-bottom: base.$desktop-space-lv-1;
    @include utils.mq-small {
        width: 161px;
        height: 501.2px;
        margin-right: base.$mobile-space-lv-1;
        margin-bottom: base.$mobile-space-lv-1;
    }
}

.product__image-block img {
    width: 178px;
    height: 284.8px;
}