@use "../base";
@use "../utils";

// ============
// FORM: SELECT
// ============


// # DEFAULT || LGE DEVICES

.form-select {
    margin-bottom: base.$desktop-space-lv-1;
    @include utils.mq-small{
        margin-bottom: base.$mobile-space-lv-1;
    }
}

.select-option {
    padding: 18px base.$desktop-space-lv-1;
    margin-bottom: base.$desktop-space-lv-half;
    @include utils.mq-small{
        padding: 14px base.$mobile-space-lv-1;
        margin-bottom: base.$mobile-space-lv-half;
    }
}

.select-label--wrapper {
    display: flex;
    align-items: center;
}

.select-option label {
    display: inline-block;
}

input[type="checkbox"],
.select-option label {
    cursor: pointer;
}

.select-option img {
    width: 38px;
    height: 38px;
    margin-right: base.$desktop-space-lv-1;
    @include utils.mq-small {
        margin-right: base.$mobile-space-lv-1;
    }
}

.select-label {
    display: flex;
    align-items: center;
}


// ELEMENT STATE
input[type="checkbox"] {
    visibility: hidden;

    + .select-label::before {
        content: "\ea53";
        font-family: "icomoon";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        width: 25px;
        height: 25px;
        font-size: 25px;
        margin-right: base.$desktop-space-lv-1;
        color: base.$text-color-50;
        @include utils.mq-small {
            margin-right: base.$mobile-space-lv-1;
        }
    }

    &:checked + .select-label::before {
        content: "\ea52";
        color: base.$primary-color-60;
        animation: checkpop 230ms ease-in;
    }

    &:disabled + .select-label {
        color: base.$text-color-40;

        &::before {
            content: "\e906";
            color: base.$text-color-20;
        }
    }
}

// ANIMATIONS
@keyframes checkpop {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}