@use "../base";
@use "../utils";

// ======
// HEADER
// ======

header {
    display: flex;
    justify-content: center;
    background-color: base.$primary-color-30;
    margin-bottom: base.$desktop-space-lv-2;
    color: base.$text-color-70;
    @include utils.mq-small {
        margin-bottom: base.$mobile-space-lv-2;
    }
}

.header-container {
    // ! WIP
    // fallback with png ???
    // background-image: url(images/header-bg.webp), url(images/header-bg.png);
    background-image: url("../../../images/header-bg.png");
    background-size: 100% 100%;
    width: 992px;
    max-width: utils.$MAX-WIDTH;
    padding: {
        top: 36.2px;
        bottom: 36.2px;
    }
    text-align: center;
    @include utils.mq-large {
        width: 100%;
    }
    @include utils.mq-small {
        padding: {
            top: 27.2px;
            bottom: 27.2px;
        }
    }
}