@use "../base";
@use "../utils";

// =====
// INTRO
// =====

 // # DEFAULT || LGE DEVICES

#intro {
    padding-bottom: base.$desktop-space-lv-2;
    max-width: utils.$MAX-WIDTH;
    margin: 0 auto;
    @include base.tablet-padding-preset;
    @include utils.mq-small {
        padding-bottom: base.$mobile-space-lv-2;
        @include base.mobile-padding-preset;
    }
}

#intro p {
    margin-bottom: base.$desktop-space-lv-1;
    color: base.$text-color-70;
    @include utils.mq-small {
        margin-bottom: base.$mobile-space-lv-1;
    }
}

.intro--text p strong {
    font-weight: base.$font-weight-bold;
}

#intro img {
    padding: {
        top: base.$desktop-space-lv-half;
        bottom: base.$desktop-space-lv-half;
    }
    width: 100%;
    height: 100%;
    @include utils.mq-small {
        padding: {
            top: base.$mobile-space-lv-half;
            bottom: base.$mobile-space-lv-half;
        }
    }
}