@use "../base";
@use "../utils";

// ====
// MAIN
// ====

// L/R margins / paddings
main h2,
main h3,
p,
ul {
    margin-left: 32px;
    @include utils.mq-small {
        margin-left: 16px;
    }
}

main {
    padding-top: base.$desktop-space-lv-2;
    color: base.$text-color-70;
    max-width: utils.$MAX-WIDTH;
    margin: 0 auto;
    @include utils.mq-small {
        padding-top: base.$mobile-space-lv-2;
    }
}

main h2 {
    margin-bottom: base.$desktop-space-lv-1;
    @include utils.mq-small {
        margin-bottom: base.$mobile-space-lv-1;
    }
}

main h3 {
    margin-bottom: base.$desktop-space-lv-1;
    @include utils.mq-small {
        margin-bottom: base.$mobile-space-lv-1;
    }
}

main p,
ul {
    display: block;
    margin-bottom: base.$desktop-space-lv-1;
    @include utils.mq-small {
        margin-bottom: base.$mobile-space-lv-1;
    }
}

// # ALERT MESSAGES
.alert-message--warning,
.alert-message--error,
.alert-message--success {
    display: flex;
    align-items: center;
    padding: 18px 18px;
    border-radius: 18px;
    margin-bottom: base.$desktop-space-lv-1;
    @include utils.mq-small {
        padding: 14px 14px;
        border-radius: 14px;
        margin-bottom: base.$mobile-space-lv-1;
    }
}

.alert-icon {
    font-size: 22px;
    margin-right: base.$desktop-space-lv-half;
    @include utils.mq-small {
        margin-right: base.$mobile-space-lv-half;
    }
}

.alert-icon--error:before {
    color: base.$secondary-color-40;
}

.alert-icon--success:before {
    color: base.$success-color-50;
}

.alert-icon--warning:before {
    color: base.$primary-color-60;
}

// ERROR
.alert-message--error {
    color: base.$secondary-color-80;
    background-color: base.$secondary-color-10;
    border: 1px solid base.$secondary-color-40;
}

// SUCCESS
.alert-message--success {
    background-color: base.$success-color-10;
    border: 1px solid base.$success-color-50;
}

.alert-message-text--success {
    color: base.$success-color-80;
}

// WARNING
.alert-message--warning {
    background-color: base.$primary-color-10;
    border: 1px solid base.$primary-color-40;
    color: base.$primary-color-80
}