@use "../base";

// ====
// MAIN
// ====


// L/R margins / paddings
main h2,
main h3,
p {
    margin-left: 32px;
}

main {
    padding-top: base.$desktop-space-lv-2;
    color: base.$text-color-70;
    max-width: 992px;
    margin: 0 auto;
}

main h2 {
    margin-bottom: base.$desktop-space-lv-1;
}

main h3 {
    margin-bottom: base.$desktop-space-lv-1;
}

main p {
    display: block;
    margin-bottom: base.$desktop-space-lv-1;
}


// #SML DEVICES

@media all and (max-width: 576px) {
    // L/R margins / paddings
    main h2,
    main h3,
    p {
        margin-left: 16px;
    }

    main {
        padding-top: base.$mobile-space-lv-2;
    }

    main h2 {
        margin-bottom: base.$mobile-space-lv-1;
    }

    main h3 {
        margin-bottom: base.$mobile-space-lv-1;
    }

    main p {
        margin-bottom: base.$mobile-space-lv-1;
    }
}