@use "../base";

// ====
// MAIN
// ====
// TODO
// - style "Begin Slice!" button

// L/R margins / paddings
main h2,
main h3,
p {
    margin-left: 32px;
}

main {
    padding-top: base.$desktop-space-lv-2;
    color: base.$text-color-70;
    max-width: 992px;
    margin: 0 auto;
}

main h2 {
    margin-bottom: base.$desktop-space-lv-1;
}

main h3 {
    margin-bottom: base.$desktop-space-lv-1;
}

main p {
    display: block;
    margin-bottom: base.$desktop-space-lv-1;
}

.slice-btn-container {
    display: flex;
    justify-content: center;
    padding: {
        top: base.$desktop-space-lv-1;
        bottom: base.$desktop-space-lv-1;
    }
}

.slice-btn {
    display: inline-block;
    padding: 18px calc(18px* 2);
    border-radius: 999px;
    background-color: base.$primary-color-30;
    color: base.$primary-color-80;
    border: solid 1px base.$primary-color-80;
    cursor: pointer;
}

.slice-btn:hover,
.slice-btn:focus {
    background-color: base.$primary-color-50;
}

.slice-btn:active {
    background-color: base.$primary-color-10;
}

.slice-btn h3 {
    margin: 0;
    padding: 0;
}

// #SML DEVICES

@media all and (max-width: 576px) {
    // L/R margins / paddings
    main h2,
    main h3,
    p {
        margin-left: 16px;
    }

    main {
        padding-top: base.$mobile-space-lv-2;
    }

    main h2 {
        margin-bottom: base.$mobile-space-lv-1;
    }

    main h3 {
        margin-bottom: base.$mobile-space-lv-1;
    }

    main p {
        margin-bottom: base.$mobile-space-lv-1;
    }
}