// =====
// COLOR
// =====


// "Warm Yellow"
// - also info color: warning
$primary-color-05: #FEF7E7;
$primary-color-10: #FDEFCE; // USED
$primary-color-20: #FADF9E; // USED
$primary-color-30: #F8D174; // MAIN
$primary-color-40: #F5BF3D; // USED
$primary-color-50: #F3AF0C; // USED
$primary-color-60: #C28C0A;
$primary-color-70: #926907;
$primary-color-80: #614605; // USED
$primary-color-90: #312302;

// "Warm Red"
// - also info color: danger
$secondary-color-05: #FFE9E6; // USED
$secondary-color-10: #FED3CD;
$secondary-color-20: #FDA69B; // MAIN
$secondary-color-30: #FD8B7C; // USED
$secondary-color-40: #FC4D36;
$secondary-color-50: #FB2104;
$secondary-color-60: #C91A03; // USED
$secondary-color-70: #971402;
$secondary-color-80: #640D02; // USED
$secondary-color-90: #320701;


// # Text Color

$text-color-05: #EEF3F6;
$text-color-10: #EEF3F6;
$text-color-20: #BDCFDB;
$text-color-30: #9BB8CA; // USED (disabled elements) ?
$text-color-40: #7AA0B8;
$text-color-50: #5988A6; // MAIN
$text-color-60: #476D85; // USED (disabled elements) ?
$text-color-70: #2F4858;
$text-color-80: #243642;
$text-color-90: #121B21;


// # Info Color

// Success
$success-color-05: #EFF6F0;
$success-color-10: #DEEDE0; // USED
$success-color-20: #BEDAC2;
$success-color-30: #9DC8A3;
$success-color-40: #7DB584;
$success-color-50: #579A60;
$success-color-60: #4A8251; // USED
$success-color-70: #37623D;
$success-color-80: #254129; // USED
$success-color-90: #122114;

// Focus Input Highligh
$focus-input-color: #74B1FF