// =====
// COLOR
// =====

// description color #1
$primary-color-05: #FFFFFF; // e.g. REJECTED
$primary-color-10: #FFFFFF; // e.g. USED
$primary-color-20: #FFFFFF;
$primary-color-30: #FFFFFF;
$primary-color-40: #FFFFFF;
$primary-color-50: #FFFFFF;
$primary-color-60: #FFFFFF;
$primary-color-70: #FFFFFF;
$primary-color-80: #FFFFFF;
$primary-color-90: #FFFFFF;

// description color #2
$secondary-color-05: #FFFFFF;
$secondary-color-10: #FFFFFF;
$secondary-color-20: #FFFFFF;
$secondary-color-30: #FFFFFF;
$secondary-color-40: #FFFFFF;
$secondary-color-50: #FFFFFF;
$secondary-color-60: #FFFFFF;
$secondary-color-70: #FFFFFF;
$secondary-color-80: #FFFFFF;
$secondary-color-90: #FFFFFF;

$text-color-05: #FFFFFF;
$text-color-10: #FFFFFF;
$text-color-20: #FFFFFF;
$text-color-30: #FFFFFF;
$text-color-40: #FFFFFF;
$text-color-50: #FFFFFF;
$text-color-60: #FFFFFF;
$text-color-70: #FFFFFF;
$text-color-80: #FFFFFF;
$text-color-90: #FFFFFF;