// @use "../vendors/fonts";

// ==========
// TYPOGRAPHY
// ==========

// =====================
// # BASE CONFIGURATIONS
// =====================
// - typeface (font-family)
// - Base Size
// - Type Scale
// - Line Height
// - Weight
// - Letter Spacing


// # FONT FAMILY
$primary-fontface: Josefin Sans, sans-serif, "Verdana", "Arial";
$secondary-fontface: Quicksand, sans-serif, "Trebuchet MS", "Arial";
// $text-fontface: "type2", sans-serif,'Times New Roman';


// # BASE SIZE
$mobile-base-font-size: 14px;
$desktop-base-font-size: 18px;


// # Type Scale
$scale-ratio: 1.25;

$font-size-x-small: 0.64rem;
// Use Case:
// - In native iOS and Android applications

$font-size-small: 0.8rem;
// Use Case:
// - Should be used sparingly for annotations, descriptions, and similar content

$font-size-medium: 1rem;
// Use Case:
// - for the body text

$font-size-large: 1.25rem;
// Use Case:
// - Use for small sub-headings
// - for the main heading on mobile size (opt.)

$font-size-x-large: 1.563rem;
// Use Case:
// - large sub-headings
// - for the main heading on mobile size (opt.)

$font-size-xx-large: 1.953rem;
// Use Case:
// for the main heading on tablet size

$font-size-xxx-large: 2.441rem;
// Use Case:
// - for the main heading on desktop

$font-size-xxxx-large: 3.052rem;
// Use Case:
// - for marketing purposes and banners


// # Line Height
$line-height-heading: 1.25;
$line-height-reset: 1;
$line-height-text: 1.5;
// $line-height-text-emphasis: 1.7;
// $line-height-text-on-dark: 2; // ? options: 2 or 1.8


// # Weight

$font-weight-bold: 700;
$font-weight-bold-semi: 600;
// $font-weight-light: 300;
$font-weight-normal: 400; // regular (without font-weight)


// # Letter Spacing
// n/a


// =========================
// # DEFAULT || DESKTOP VIEW
// =========================
// Font base: 18px

// Modular Scale: 1.5
// h1 - 60.75px | 3.375em
// h2 - 40.5px | 2.25em
// h3 - 27px | 1.5em
// p - 18px | 1em
// caption - 18px

html {
    font-size: $desktop-base-font-size;
    h1 {
        font-size: $font-size-x-large;
        font-family: $primary-fontface;
        font-weight: $font-weight-bold-semi;
        line-height: $line-height-reset;
        text-transform: uppercase;
    }
    h2 {
        font-size: $font-size-large;
        font-family: $secondary-fontface;
        font-weight: $font-weight-bold;
        line-height: $line-height-reset;
    }
    h3,
    .preview__clear-btn {
        font-family: $secondary-fontface;
        line-height: $line-height-reset;
        font-size: $font-size-large;
    }
    p,
    ul li,
    a,
    .emai-link,
    .file-size-text,
    .alert-message-text--success,
    .alert-message-text--warning,
    .alert-message-text--error,
    .select-text,
    .contact-label,
    .donate-text,
    .contribute-text {
        font-family: $secondary-fontface;
        font-weight: $font-weight-normal;
        font-size: $desktop-base-font-size;
        line-height: 1.5;
        font-weight: $font-weight-normal;
    }
}


// ========================
// # TABLET VIEW AND LIMITS
// ========================

// @media screen and (max-width: 1024px) {}


// ========================
// # MOBILE VIEW AND LIMITS
// ========================

@media screen and (max-width: 576px) {
    html {
        font-size: $mobile-base-font-size;
        h1 {
            font-size: $font-size-x-large;
        }
        h2 {
            font-size: $font-size-large;
        }
        h3,
        .preview__clear-btn {
            font-size: $font-size-medium;
        }
        p,
        ul li,
        a,
        .emai-link,
        .file-size-text,
        .alert-message-text--success,
        .alert-message-text--warning .alert-message-text--error,
        .select-text,
        .contact-label,
        .donate-text,
        .contribute-text {
            font-size: $mobile-base-font-size;
        }
    }
}
