/* Color */

// # Main Color

$warm-black-10: hsl(42deg 31% 94%);
$warm-black-20: hsl(42deg 32% 88%);
$warm-black-30: hsl(39deg 17% 71%);
$warm-black-40: hsl(37deg 9% 47%);
$warm-black-50: hsl(33deg 12% 18%);
$warm-black-60: hsl(32deg 21% 14%);
/* $warm-black-70: #000; !! Not in use */
$warm-black-80: hsl(21deg 41% 8%);
/* $warm-black-90: #000; !! Not in use */

/* $steel-blue-10: #000; !! Not in use */
/* $steel-blue-20: #000; !! Not in use */
$steel-blue-30: hsl(195deg 40% 90%);
$steel-blue-40: hsl(198deg 28% 83%);
$steel-blue-50: hsl(201deg 22% 75%);
$steel-blue-60: hsl(206deg 23% 60%);
$steel-blue-70: hsl(209deg 25% 46%);
$steel-blue-80: hsl(212deg 36% 34%);
$steel-blue-90: hsl(215deg 48% 26%);

/* $gold-yellow-10: #000; !! Not in use */
/* $gold-yellow-20: #000; !! Not in use */
/* $gold-yellow-30: #000; !! Not in use */
/* $gold-yellow-40: #000; !! Not in use */
$gold-yellow-50: hsl(47deg 100% 95%);
$gold-yellow-60: hsl(46deg 42% 76%);
$gold-yellow-70: hsl(44deg 32% 59%);
$gold-yellow-80: hsl(44deg 33% 43%);
$gold-yellow-90: hsl(42deg 46% 33%);

$superman-red-10: hsl(20deg 95% 92%);
$superman-red-20: hsl(13deg 95% 85%);
$superman-red-30: hsl(8deg 98% 77%);
$superman-red-40: hsl(4deg 97% 70%);
$superman-red-50: hsl(358deg 97% 61%);
$superman-red-60: hsl(353deg 69% 51%);
$superman-red-70: hsl(348deg 72% 41%);
$superman-red-80: hsl(342deg 79% 32%);
$superman-red-90: hsl(337deg 83% 26%);

/* Semantic Color */
$success-green-10: hsl(107deg 89% 93%);
$success-green-20: hsl(112deg 92% 86%);
$success-green-30: hsl(119deg 87% 78%);
$success-green-40: hsl(125deg 81% 72%);
$success-green-50: hsl(130deg 76% 62%);
$success-green-60: hsl(136deg 55% 51%);
$success-green-70: hsl(141deg 61% 41%);
$success-green-80: hsl(148deg 68% 31%);
$success-green-90: hsl(152deg 76% 25%);

$info-blue-10: hsl(187deg 96% 90%);
$info-blue-20: hsl(191deg 98% 80%);
$info-blue-30: hsl(194deg 93% 69%);
$info-blue-40: hsl(197deg 88% 60%);
$info-blue-50: hsl(201deg 98% 47%);
$info-blue-60: hsl(205deg 100% 40%);
$info-blue-70: hsl(209deg 99% 33%);
$info-blue-80: hsl(212deg 100% 27%);
$info-blue-90: hsl(216deg 100% 22%);

$warning-yellow-10: hsl(49deg 96% 91%);
$warning-yellow-20: hsl(47deg 94% 82%);
$warning-yellow-30: hsl(44deg 94% 73%);
$warning-yellow-40: hsl(42deg 92% 66%);
$warning-yellow-50: hsl(40deg 90% 54%);
$warning-yellow-60: hsl(38deg 79% 46%);
$warning-yellow-70: hsl(35deg 83% 37%);
$warning-yellow-80: hsl(33deg 86% 30%);
$warning-yellow-90: hsl(32deg 89% 24%);

$danger-red-10: hsl(12deg 94% 93%);
$danger-red-20: hsl(6deg 100% 86%);
$danger-red-30: hsl(0deg 93% 79%);
$danger-red-40: hsl(355deg 90% 73%);
$danger-red-50: hsl(348deg 86% 63%);
$danger-red-60: hsl(344deg 61% 52%);
$danger-red-70: hsl(338deg 63% 42%);
$danger-red-80: hsl(333deg 69% 33%);
$danger-red-90: hsl(327deg 77% 26%);
