/* Space */

:root {
  --line-height: 1.5;

  --space-quarter-desktop: calc(var(--font-base-desktop) / (var(--line-height) * 2));
  --space-half-desktop: calc(var(--font-base-desktop) / var(--line-height));
  --space-lv-1-desktop: calc(var(--font-base-desktop) * var(--line-height));
  --space-lv-2-desktop: calc(var(--font-base-desktop) * (var(--line-height) * 2));
  --space-lv-3-desktop: calc(var(--font-base-desktop) * (var(--line-height) * 3));
  --space-lv-4-desktop: calc(var(--font-base-desktop) * (var(--line-height) * 4));
  --space-lv-5-desktop: calc(var(--font-base-desktop) * (var(--line-height) * 5));

  --space-quarter-mobile: calc(var(--font-base-mobile) / (var(--line-height) * 2));
  --space-half-mobile: calc(var(--font-base-mobile) / var(--line-height));
  --space-lv-1-mobile: calc(var(--font-base-mobile) * var(--line-height));
  --space-lv-2-mobile: calc(var(--font-base-mobile) * (var(--line-height) * 2));
  --space-lv-3-mobile: calc(var(--font-base-mobile) * (var(--line-height) * 3));
  --space-lv-4-mobile: calc(var(--font-base-mobile) * (var(--line-height) * 4));
  --space-lv-5-mobile: calc(var(--font-base-mobile) * (var(--line-height) * 5));

  /* # Margin Presets */
  --margin-preset-desktop: 32px;
  --margin-preset-mobile: 16px;
}
