/* Z-Index */

/* # Z-INDEX SCALE */
:root {
  --z-index-1:   100;
  --z-index-2:   200;
  --z-index-3:   300;
  --z-index-4:   400;
  --z-index-5:   500;
  --z-index-6:   600;
  --z-index-7:   700;
  --z-index-8:   800;
  --z-index-9:   900;
  --z-index-10: 1000;


  /* # Z-INDEX APPLICATIONS */
  --z-index-negative:                   -9999;

  --z-index-default:                    1;
  --z-index-docked:                     4;

  --z-index-1--screenForeground:        var(--z-index-1);
  --z-index-1--followUpVisibility:      var(--z-index-1);
  --z-index-1--blockGroup:              var(--z-index-1);

  --z-index-3--sticky:                  var(--z-index-3);
  --z-index-3--caption:                 var(--z-index-3);

  --z-index-4--header:                  var(--z-index-4);

  --z-index-5--toast:                   var(--z-index-5);
  --z-index-5--figureOverlay:           var(--z-index-5);

  --z-index-6--dropdown:                var(--z-index-6);

  --z-index-7--nav:                     var(--z-index-7);
  --z-index-7--overlay:                 750;

  --z-index-8--spinner:                 var(--z-index-8);

  --z-index-9--modal:                   var(--z-index-9);
  --z-index-9--popup:                   950;
  --z-index-9--overlay:                 var(--z-index-9);
  --z-index-9--dialog:                  var(--z-index-9);
  --z-index-9--tooltip:                 var(--z-index-9);
}
